.banner {
    background-image: url(./images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carouselParent {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(84, 82, 82, 0.65);
}

a {
    text-decoration: none;
    margin-bottom: 1.2rem;
}

.carousel-caption {
    bottom: 10.25rem !important;
}